body {
    font-family: "Arial, Verdana, sans-serif";
    text-align: center;
    margin: 20px;
  }
  
  .headline {
      
  }
  
  h1 {
    font-weight: 700;
    color: blue;
    
  }
  
  .container {
  
  }
  
  .row {
      justify-content: left;
  }

   .col-md-4 {
  
   }
   .form-group {
     font font-weight: 900;
  
   }
  
   #searchBtn {
       align-items: flex-end;
  }
  
  .btn-primary{
  
  }


  
  #cards {
  
  }
  
  .card--normal, {

  }
  
  .card__image-container {

  }
  #pokemonImage{

  }
  
  .card__image{

  }


  .card__caption {
  
  }

  #pokemonName {

  }

  .card__name { 

  }

  #pokemonType {

  }

  .card__type {

  }

  .card__stats {
    margin: 1.5em 0;
  
    th {
      font-family:"Arial, Verdana, sans-serif";
      text-align: right;
      font-weight: 300;

    }

  }
  
  /*<th> Hp: </th>*/

  #hpResult {

  }

  #attack,#attackResult {

  }

  #defense, #defenseResult {

  }

  #specialAttack. #specialAttackResult {

  }
  #specialDefense, #specialDefenseResult {

  }

  #Speed, #speedResult {

  }

  .card_abilitites, .card__ability  {

  }


  #ability {
    margin-top: 1em;
    flex: 1 0;

  }

  .card__label {

  }

  #hiddenAbility {

  }

  
    
  }