@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
  font-family: 'pokemon';
  src: url('./pokemon.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Times New Roman, Georgia, Garamond, serif";
  text-align: center;
  margin: 20px;
}

.jumbotron {
  background: linear-gradient(90deg, red, black, white);
  border-style: solid;
  border-width: thick;
  border-color: black;
  border-radius: 25px;
}


h1 {
  color: #FFDE00;
  -webkit-text-stroke: 5px #3C5AA6;
  font-family: "pokemon", Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-style: oblique; 
  font-size: 48px;
  
}

h2 {
  font-weight: 700;
  color: #FFDE00;
  font-family: kanit, Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-style: oblique; 
    background-image: linear-gradient(60deg, green, blue, orange);
    background-clip: text;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#searchBar{
  width: 70%;
}


button.btn.btn-primary {
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 80%;
  background: linear-gradient(90deg, red, black);
  font-size: x-large;
  font-weight: 600;
  font-style: oblique;
  color: #ffdf00;
  border-width: thick;
  border-color: black;
  
  
}

button{
  color: #FFDE00;
  -webkit-text-stroke: 1px #3C5AA6;
  font-family: Arial, Helvetica, sans-serif;
}

i{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-list li{
  margin: 5px;
  border-radius: 15px;
  color: #ffdf00;
  background: linear-gradient(90deg, red, black);
  border-width: thick;
  border-color: black;
  font-family:kanit, sans-serif;
  font-weight: 600;
  font-style: oblique;
}

#search-list li:hover{
  cursor: pointer;
}

.card_ability {
  font-weight: 500;
  color: grey; 
  font-family: kanit, sans-serif;
  margin-top: 15px;
  font-style: oblique;
  text-align: center;
}

table {
  text-align: center;
}

#pokemonType {
  font-size: 17px;
  font-family: kanit, sans-serif;
  text-transform: capitalize;
}


input.form-control {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-width: thick;
  color: black;
}

#cards {
  display: flex!important;
  align-content: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.card:hover{
  cursor: grab;
}

.card_name{
  text-shadow: none;
}

#logo {
  height: 90px;
  width: 175px;
  display: inline-block;
  margin-bottom: 19px;
}

img {
  display: inline;
}

.row {
    justify-content: left;
}


.card_image-container {
  background-color: rgba(white, 0.7);
    text-align: center;
    padding: 16px 16px 0;
    border-radius: 3px 3px 0 0;
}

form {
  font-family: kanit, sans-serif;
}


.fire {
  background-image: linear-gradient(#ff0000, yellow);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-width: 10px;
}



.water {
  background-image: linear-gradient(blue, white);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: blue;
  border-width: 10px;
}

.ice {
  background-image: linear-gradient(rgb(174, 174, 240), white);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(174, 174, 240);
  border-width: 10px;
}

.electric {
  background-image: linear-gradient(orange, yellow);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: orange;
  border-width: 10px;
}

.fairy {
  background-image: linear-gradient(lavender, pink);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: lavender;
  border-width: 10px;
}

.normal {
  background-image: linear-gradient(grey, silver);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: grey;
  border-width: 10px;
}

.psychic {
  background-image: linear-gradient(indigo, lavender);
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: indigo;
  border-width: 10px;
}

.dark {
  background-image: linear-gradient(navy, rgb(184, 184, 255));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: navy;
  border-width: 10px;
}

.grass {
  background-image: linear-gradient(green, rgb(163, 241, 163));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: green;
  border-width: 10px;
}

 .rock {
  background-image: linear-gradient(brown, rgb(255, 201, 158));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: brown;
  border-width: 10px;
}

.dragon {
  background-image: linear-gradient(grey, rgb(158, 181, 255));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: grey;
  border-width: 10px;
}

.bug {
  background-image: linear-gradient(rgb(55, 202, 18), rgb(245, 255, 158));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(55, 202, 18);
  border-width: 10px;
}

.flying {
  background-image: linear-gradient(rgb(18, 174, 202), rgb(158, 200, 255));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(18, 174, 202);
  border-width: 10px;
}

.fighting {
  background-image: linear-gradient(rgb(201, 0, 0), rgb(187, 187, 187));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(201, 0, 0);
  border-width: 10px;
}

.ground {
  background-image: linear-gradient(rgb(181, 101, 29), rgb(196, 164, 132));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(181, 101, 29);
  border-width: 10px;
}

.poison {
  background-image: linear-gradient(rgb(199, 0, 57), rgb(217, 130, 181));
  display: inline-block;
  width: 400px;
  border-radius: 15px;  
  margin: 10px;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  border-style: solid;
  border-color: rgb(199, 0, 57);
  border-width: 10px;
}


img {

    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 16px 16px 0;
    border-radius: 3px 3px 0 0;
  
}

figcaption{
    background-color: rgba(#ffffff, 0.65);
    padding: 16px;
    position: relative;
    border-radius: 0 0 3px 3px; }

  .card_abilities  {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
    }
  
  


  

    th {
      text-align: right;
      font-weight: 300;
      width: 100%;
    }
    
    
    th, td {
      width: 50%;
      padding: 4px 8px 0;
    }
